<!--events-->
 <div class="col-md-6">

 	<div class="panel panel-default">
    <div class="panel-body">


         <div class="row">

         <div class="col-md-1">           
           <span class="input-group-addon" id="basic-addon1"><i class="fa fa-twitter"></i></span>
        </div>
        <div class="col-md-8">
         <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          有什麼新的事物
          </button>
                    <div class="collapse" id="collapseExample">
                       <div class="input-group">
                       <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                       </div>
                      <p>媒體</p>

                     </div>
         </div>
         <div class="col-md-1">
           <span class="input-group-addon"><i class="fa fa-camera"></i></span>
         </div>

         </div>
     </div>
    </div>
 </div>
