<div class="row">
<div class="col-md-3">
 <div class="panel panel-primary">
   <div class="panel-heading"> 
        <img class="img-size" src = "https://scontent-tpe1-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1902737_733335580072245_4729637202895015257_n.jpg?oh=2a083331b7d17ad9c6997b69a3c6408a&oe=56F2343B"/>
        <h1>edward940811</h1>
        <p>@edward940811</p>
   </div> 
         <div class="panel-body"> 
         <ul class="photo-profile">
            <div class="row">
            <div class="col-md-6">
            推文
            </div>
            <div class="col-md-6">
            關注 
            </div>
         </div>
          <div class="row">
           <div class="col-md-6">
            1
            </div>
            <div class="col-md-6">
            1 
            </div>
            </div>
         </ul> 
  </div>
  </div>
 </div>
